.nothing-to-do-container {
  height: 500px;
  width: 600px;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/bd676d55869191.599660df74975.jpg");
  background-position: center;
  background-size: cover;
}
