.app {
  width: 100%;
}
.todo-placement {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto 100px auto;
  transform: translateX(0);
  transition: transform 1s ease;
}
.todo-moved {
  transform: translateX(-100px);
  transition: transform 1s ease;
}
