@import "~antd/dist/antd.css";
@import "./components/Input/input.css";
@import "./components/App.css";
@import "./components/toDoItem/todo.css";
@import "./components/NothingToDo/nothingToDo.css";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
